---
layout: default
---

<div>
<div class="landing-page">

    <!-- Header Section with Logo -->
    <section id="header">
        <img src="{{ site.baseurl }}/assets/image/SIDECART_LOGO_BW_512_x512.png" alt="Sidecart Logo" class="project-logo">
        <h1>Welcome to Sidecart</h1>
        <p>A cartridge emulator for the Atari ST, STE, and Mega series on Raspberry Pi Pico steroids.</p>
    </section>
    
    <!-- About Section -->
    <section id="about">
        <h2>About Sidecart</h2>
        <p>
SidecarT is a state-of-the-art cartridge ROM emulator crafted for the Atari ST, STE, and Mega series. It leverages the robust capabilities of the RP2040 microcontroller found in the Raspberry Pi Pico, enabling it to:
<ul>
    <li>Emulate both 64Kbyte and 128Kbyte ROMs by simply loading the binary files from a microSD card or via a Wi-Fi connection.</li>
    <li>Interact with the cartridge bus in real-time for data reading and writing, which allows for seamless emulation of devices such as hard disks, floppy disks, real-time clocks, keyboards, mouse devices, and more.</li>
    <li>Dive into a realm of possibilities, limited only by your creativity. Thanks to its open architecture and the open-source code available <a href="https://github.com/diegoparrilla/atarist-sidecart-raspberry-pico">here</a>, SidecarT can evolve to meet any challenge you envision.</li>            
</ul>
    </p>
    </section>

    <!-- Features Section -->
    <section id="features">
        <h2>Features</h2>
        <ol>
            <li><b>Versatile ROM Emulation:</b> Easily emulate 64Kbyte and 128Kbyte ROMs. With SidecarT, switching between ROMs is a breeze—simply load the binary files either from a microSD card or directly via a Wifi connection.</li>
            <li><b>Real-time Cartridge Bus Interaction:</b> SidecarT isn't just for ROMs. It's built to interact with the cartridge bus on-the-fly, making data reading and writing seamless. This real-time integration allows for an enriched experience, especially when emulating devices.</li>
            <li><b>Diverse Device Emulation:</b> From hard disks and floppy disks to real-time clocks, keyboards, and mouse devices, SidecarT has you covered. Its advanced capabilities ensure you get an authentic emulation experience across a range of devices.</li>
            <li><b>Open Source & Customizable:</b> At its core, SidecarT is designed for innovation. With open-source code and architecture, you have the freedom to tweak, modify, and expand its functionalities. It's not just an emulator—it's a canvas for all your tech endeavors.</li>
            <li><b>Powered by Raspberry Pi Pico:</b> Thanks to the prowess of the RP2040 microcontroller in the Raspberry Pi Pico, SidecarT delivers exceptional performance and reliability. It's the perfect blend of old-school charm and modern-day tech.</li>
            <li><b>Ever-evolving Capabilities:</b> The world of Atari ST and its series is vast, a major retro platform. SidecarT is built to evolve, ensuring that you're always at the forefront of emulation technology.</li>
        </ol>
    </section>

    <!-- How It Works Section -->
    <section id="how-it-works">
        <h2>How It Works</h2>
        <p>[Placeholder text: Detailed explanation of how the emulator works, perhaps with step-by-step instructions or a workflow.]</p>
    </section>

    <!-- Gallery/Video Demo Section -->
    <section id="demo">
        <h2>Demo</h2>
        <p>[Placeholder: Here you can provide images, videos or GIFs showcasing the Sidecart in action.]</p>
    </section>

    <!-- FAQs Section -->
    <section id="faq">
        <h2>Frequently Asked Questions</h2>
        <dl>
            <dt>[Placeholder: Question 1]</dt>
            <dd>[Placeholder: Answer to Question 1]</dd>

            <dt>[Placeholder: Question 2]</dt>
            <dd>[Placeholder: Answer to Question 2]</dd>
            
            <!-- ... add more Q&A as necessary -->
        </dl>
    </section>

    <!-- Contact/Support Section -->
    <section id="contact">
        <h2>Contact & Support</h2>
        <p>[Placeholder text: Information about how to get support, how to contribute, or how to get in touch with the makers.]</p>
    </section>
</div>

</div>


<div class="posts">
    <h1>Recent blog posts</h1>    
    {% for post in paginator.posts %}
    <article class="post">

        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {% if post.content contains '<!--more-->' %}
    
          {{ post.excerpt }}
    
          {% else %}
    
          {{ post.excerpt | markdownify | strip_html | truncate: 160 }}
    
          {% endif %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;{% include read-time.html content=post.content %}</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</div>
</div>
