---
layout: default
image: /assets/images/board-hand.png
---

<div>
    <div class="landing-page">

        <!-- What's New in the Latest Release Section -->
        <section id="latest-release" class="bordered-section">
            <h3 style="color:red;">What's New in <a href="/downloads">{{ site.FIRMWARE_VERSION }}</a> (<a
                    href="https://github.com/diegoparrilla/atarist-sidecart-raspberry-pico/blob/main/CHANGELOG.md">Changelog</a>)
            </h3>
            <ul>
                <li>Floppy emulator PREVIEW</li>
                <li>Ripper mode ROM emulation</li>
                <!-- add more list items as needed -->
            </ul>
            <p><a href="https://docs.sidecart.xyz/compatibility_issues">CosmoseX users please read this important
                    warning</a></p>
        </section>

        <!-- Header Section with Logo -->
        <section id="header">
            <div class="center-image-container-project-logo"></div>
            <script>
                const lightImages = [
                    "{{ site.baseurl }}/assets/images/SIDECART_LOGO_BW_LIGHTMODE_512x512.png",
                    "{{ site.baseurl }}/assets/images/board-hand.png",
                    "{{ site.baseurl }}/assets/images/board-picow.png",
                    "{{ site.baseurl }}/assets/images/board-picow-far.png",
                    "{{ site.baseurl }}/assets/images/board-single.png",
                    "{{ site.baseurl }}/assets/images/SIDECART_TEXT_BW_LIGHTMODE_512x512.png"
                ];
                const darkImages = [
                    "{{ site.baseurl }}/assets/images/SIDECART_LOGO_BW_DARKMODE_512x512.png",
                    "{{ site.baseurl }}/assets/images/board-hand.png",
                    "{{ site.baseurl }}/assets/images/board-picow.png",
                    "{{ site.baseurl }}/assets/images/board-picow-far.png",
                    "{{ site.baseurl }}/assets/images/board-single.png",
                    "{{ site.baseurl }}/assets/images/SIDECART_TEXT_BW_DARKMODE_512x512.png"
                ];

                let images = document.body.classList.contains('darkmode--activated') ? darkImages : lightImages;

                const container = document.querySelector('.center-image-container-project-logo');

                // Function to clear and load images
                function loadImages() {
                    while (container.firstChild) {
                        container.firstChild.remove();
                    }

                    images.forEach((src, idx) => {
                        const img = document.createElement('img');
                        img.src = src;
                        img.alt = "SidecarT Image " + (idx + 1);
                        img.classList.add('project-logo');
                        if (idx === 0) img.classList.add('visible');
                        container.appendChild(img);
                    });
                }

                let currentImageIndex = 0;

                function rotateImage() {
                    const imgs = document.querySelectorAll('.project-logo');
                    imgs[currentImageIndex].classList.remove('visible');

                    currentImageIndex++;
                    if (currentImageIndex >= images.length) {
                        currentImageIndex = 0;
                    }

                    imgs[currentImageIndex].classList.add('visible');
                }

                // Initial load
                loadImages();

                // Rotate the image every 5 seconds
                setInterval(rotateImage, 5000);

                // Listen to dark mode changes
                const observer = new MutationObserver((mutations) => {
                    mutations.forEach((mutation) => {
                        if (mutation.attributeName === "class") {
                            const isDarkMode = document.body.classList.contains('darkmode--activated');
                            images = isDarkMode ? darkImages : lightImages;
                            loadImages();
                            currentImageIndex = 0; // Reset the index
                        }
                    });
                });

                observer.observe(document.body, {
                    attributes: true
                });
            </script>
        </section>

        <!-- About Section -->
        <section id="about">
            <h2>A cartridge emulator for the Atari ST, STE, and Mega series on Raspberry Pi Pico steroids.</h2>
            <p>
                SidecarT is a state-of-the-art cartridge ROM emulator crafted for the Atari ST, STE, and Mega series. It
                leverages the robust capabilities of the RP2040 microcontroller found in the Raspberry Pi Pico, enabling
                it to:
            <ul>
                <li>Emulate both 64Kbyte and 128Kbyte ROMs by simply loading the binary files from a microSD card or via
                    a Wi-Fi connection.</li>
                <li>Interact with the cartridge bus in real-time for data reading and writing, which allows for seamless
                    emulation of devices such as hard disks, floppy disks, real-time clocks, keyboards, mouse devices,
                    and more.</li>
                <li>Dive into a realm of possibilities, limited only by your creativity. Thanks to its open architecture
                    and the open-source code available <a
                        href="https://github.com/diegoparrilla/atarist-sidecart-raspberry-pico">here</a>, SidecarT can
                    evolve to meet any challenge you envision.</li>
            </ul>
            </p>
        </section>

        <!-- Features Section -->
        <section id="features">
            <h2>Features</h2>
            <ol>
                <li><b>Versatile ROM Emulation:</b> Easily emulate 64Kbyte and 128Kbyte ROMs. With SidecarT, switching
                    between ROMs is a breeze—simply load the binary files either from a microSD card or directly via a
                    Wifi connection.</li>
                <li><b>Real-time Cartridge Bus Interaction:</b> SidecarT isn't just for ROMs. It's built to interact
                    with the cartridge bus on-the-fly, making data reading and writing seamless. This real-time
                    integration allows for an enriched experience, especially when emulating devices.</li>
                <li><b>Diverse Device Emulation:</b> From hard disks and floppy disks to real-time clocks, keyboards,
                    and mouse devices, SidecarT has you covered. Its advanced capabilities ensure you get an authentic
                    emulation experience across a range of devices.</li>
                <li><b>Open Source & Customizable:</b> At its core, SidecarT is designed for innovation. With
                    open-source code and architecture, you have the freedom to tweak, modify, and expand its
                    functionalities. It's not just an emulator—it's a canvas for all your tech endeavors.</li>
                <li><b>Powered by Raspberry Pi Pico:</b> Thanks to the prowess of the RP2040 microcontroller in the
                    Raspberry Pi Pico, SidecarT delivers exceptional performance and reliability. It's the perfect blend
                    of old-school charm and modern-day tech.</li>
                <li><b>Ever-evolving Capabilities:</b> The world of Atari ST and its series is vast, a major retro
                    platform. SidecarT is built to evolve, ensuring that you're always at the forefront of emulation
                    technology.</li>
            </ol>
        </section>

        <!-- How It Works Section -->
        <section id="how-it-works">
            <h2>How It Works</h2>
            <p>
                Getting started with SidecarT is straightforward and intuitive. Here's a step-by-step guide:
            <ol>
                <li><b>Setup the Hardware:</b> Ensure that the Atari ST computer is powered off. Insert the SidecarT
                    device into the Atari ST's lateral cartridge interface and power on the computer.</li>
                <li><b>Initiate SidecarT:</b> Hold down the SELECT button on the
                    SidecarT for more than one second and run the SIDECART.TOS application.</li>
                <li><b>Obtain your ROMs:</b> Using the Atari ST interface, you can easily connect to the web. Dive in,
                    explore, and download your favorite ROMs from the curated lists we've prepared. It's a seamless
                    experience, connecting you directly to HTTP servers for your convenience.</li>
                <li><b>Choose Your Functionality:</b> You'll have an option to select the function of the SidecarT
                    device. If you're looking to emulate a ROM, choose the "ROM Emulator" function, and then select the
                    desired ROM binary from the list.</li>
                <li><b>Start the Emulation:</b> Either reset your Atari ST computer or power cycle it. SidecarT will now
                    operate as the selected emulated ROM cartridge. This behavior persists even if you switch the
                    computer on and off. If you wish to emulate a different ROM or use another function, simply start
                    over from the second step.</li>
                <li><b>Dive In and Enjoy:</b> With everything set up, all that's left is for you to enjoy the immersive
                    experience SidecarT offers!</li>
            </ol>
            </p>
        </section>

        <!-- Gallery/Video Demo Section -->
        <section id="demo">
            <h2>See it in action</h2>
            <div class="plyr__video-embed" id="player">
                <iframe
                    src="https://www.youtube.com/embed/d1EatFnmPGs?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1;loading=lazy"
                    allowfullscreen allowtransparency></iframe>
            </div>
        </section>

        <!-- Contact/Support Section -->
        <section id="buy">
            <h2>How to get a SidecarT</h2>
            <p>
                <b>BATCH 2 WAITING LIST OPEN!!!</b> <a href="https://mailchi.mp/290579c00c14/sidecart-waiting-list">Join
                    our waiting list</a> today with no
                obligations.
            </p>
        </section>

        <!-- FAQs Section -->
        <section id="faq">
            <h2>Frequently Asked Questions</h2>
            <dl>
                <dt>Decades have passed since the discontinuation of the Atari ST/STE/Mega computers. Why, then, should
                    one consider SidecarT?</dt>
                <dd>While emulation tools like STEEM, Hatari, or platforms like MiSTer offer quick and easy software
                    loading and configuration, they can't replicate the authentic experience of the original Atari ST
                    systems. SidecarT bridges this gap. It offers the genuine tactile experience of retro computing
                    while seamlessly integrating modern emulation features. With SidecarT, you're not just reminiscing
                    about the past; you're reliving it with a touch of the present.</dd>

                <dt>Why are you open-sourcing the code?</dt>
                <dd>Adopting the General Purpose License for the source code is my way of ensuring that the benefits
                    belong to the community at large, rather than being held by a particular individual or entity.</dd>
                </dd>

                <dt>Why are you open-sourcing the design with restrictions?</dt>
                <dd>The essence of this project lies in community involvement and sheer passion, not profit-making. It's
                    disheartening to envision entities or individuals merely reproducing the design for commercial gains
                    without adding any substantial value. While I'm completely supportive of enthusiasts creating their
                    own SidecarT for personal use or for fellow aficionados, those aiming for monetary benefits should
                    recognize the efforts and intentions behind this initiative. If profits are to be made, they should
                    rightfully support the original creator.</dd>

                <dt>Can I contribute to the project?</dt>
                <dd>Of course! Please visit the <a href="/programming.html">Programming</a> page to learn how to start
                    contributing to the project! No matter if you are a microcontroller ninja, an Atari ST guru, or a C
                    aficionado. You are welcome!</dd>

                <dt>Where can I find ROM images?</dt>
                <dd>I have gathered some images in this <a href="/roms">directory</a>. You can download them, or
                    simply connect the SidecarT to your Wi-Fi and browse the catalog online from your Atari ST!</dd>
                <!-- ... add more Q&A as necessary -->
            </dl>
        </section>

        <!-- Community Section -->
        <section id="community">
            <h2>Community</h2>
            <p>
                There are several places to contact the community:
            <ul>
                <li><b>NEW Discord server:</b> Click the link and join the <a
                        href="{{ site.DISCORD_INVITATION }}">Discord Server</a></li>
                <li><b>Github repositories:</b> There are several of them, but you can start with the main <a
                        href="https://github.com/diegoparrilla/atarist-sidecart-raspberry-pico">here</a>.</li>
                <li><b>X/Twitter:</b>: <a href="https://twitter.com/sidecartridge">Follow us</a> and learn about the
                    latest news and updates </li>
                <li><b>Atari-forum:</b> <a href="https://www.atari-forum.com/viewtopic.php?t=43073">Thread in the
                        forum</a></li>
                <li><b>Retrowiki:</b> <a href="https://retrowiki.es/viewtopic.php?t=200039711">Hilo en el foro</a></li>
            </ul>
            </p>
        </section>

    </div>

</div>


<div class="posts">
    <h2>Recent blog posts</h2>
    {% for post in paginator.posts %}
    <article class="post">

        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

        <div class="entry">
            {% if post.content contains '<!--more-->' %}

            {{ post.excerpt }}

            {% else %}

            {{ post.excerpt | markdownify | strip_html | truncate: 160 }}

            {% endif %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more&nbsp;&#183;{% include read-time.html
            content=post.content %}</a>
    </article>
    {% endfor %}

    {% include pagination.html %}
</div>
</div>